# Global consumer electronic brand sales analysis

## Importing libraries and data

During this step, we import the necessary libraries and load the data required for further analysis.

In [118]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sqlalchemy import create_engine, MetaData, Table, ForeignKey
from sqlalchemy import Column, Integer, String, inspect, Float, Date, join, select
import os
import plotly.graph_objs as go 
from plotly.offline import init_notebook_mode,iplot
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.ticker import FuncFormatter
init_notebook_mode(connected=True)

In [51]:
customers = pd.read_csv('data/Customers.csv', encoding='ISO-8859-1')
exchange_rates = pd.read_csv('data/Exchange_Rates.csv', encoding='ISO-8859-1')
products = pd.read_csv('data/Products.csv', encoding='ISO-8859-1')
sales = pd.read_csv('data/Sales.csv', encoding='ISO-8859-1')
stores = pd.read_csv('data/Stores.csv', encoding='ISO-8859-1')

## Assigning correct datatypes to variables

In this step, we will assign the appropriate data types to the DataFrame columns to ensure optimal performance, memory usage, and accurate analysis.
This version emphasizes the purpose of assigning correct data types and includes the benefits like performance, memory optimization, and data accuracy.

In [3]:
customers.head()

,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday
0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,7/3/1939
1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,9/27/1979
2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,5/26/1947
3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,9/17/1957
4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,11/19/1965

In [4]:
customers['Gender'] = customers['Gender'].astype('category')
customers['Birthday'] = customers['Birthday'].astype('datetime64[ns]')

In [72]:
exchange_rates.head()

        Date Currency  Exchange
0 2015-01-01      USD    1.0000
1 2015-01-01      CAD    1.1583
2 2015-01-01      AUD    1.2214
3 2015-01-01      EUR    0.8237
4 2015-01-01      GBP    0.6415

In [71]:
exchange_rates['Date'] = exchange_rates['Date'].astype('datetime64[ns]')
exchange_rates['Currency'] = exchange_rates['Currency'].astype('category')

In [45]:
products.head()

,ProductKey,Product Name,Brand,Color,Unit Cost USD,Unit Price USD,SubcategoryKey,Subcategory,CategoryKey,Category
0,1,Contoso 512MB MP3 Player E51 Silver,Contoso,Silver,$6.62,12.99,101,MP4&MP3,1,Audio
1,2,Contoso 512MB MP3 Player E51 Blue,Contoso,Blue,$6.62,12.99,101,MP4&MP3,1,Audio
2,3,Contoso 1G MP3 Player E100 White,Contoso,White,$7.40,14.52,101,MP4&MP3,1,Audio
3,4,Contoso 2G MP3 Player E200 Silver,Contoso,Silver,$11.00,21.57,101,MP4&MP3,1,Audio
4,5,Contoso 2G MP3 Player E200 Red,Contoso,Red,$11.00,21.57,101,MP4&MP3,1,Audio

In [44]:
products['Unit Price USD'] = products['Unit Price USD'].replace('[\$,]', '', regex=True).astype('float64')

In [69]:
sales.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,2016-01-01,NaT,265598,10,1304,1,CAD
1,366001,1,2016-01-01,2016-01-13,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-01-12,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-01-12,266019,0,373,1,CAD

In [68]:
sales['Order Date'] = sales['Order Date'].astype('datetime64[ns]')
sales['Delivery Date'] = sales['Delivery Date'].astype('datetime64[ns]')

In [10]:
stores.head()

   StoreKey    Country                         State  Square Meters  Open Date
0         1  Australia  Australian Capital Territory          595.0   1/1/2008
1         2  Australia            Northern Territory          665.0  1/12/2008
2         3  Australia               South Australia         2000.0   1/7/2012
3         4  Australia                      Tasmania         2000.0   1/1/2010
4         5  Australia                      Victoria         2000.0  12/9/2015

In [11]:
stores['Open Date'] = stores['Open Date'].astype('datetime64[ns]')

## Data Cleaning

This step examines the shape of the datasets and identifies any irregularities or anomalies in the data.

### Exploring the shape of the datasets

In [12]:
customers.shape

(15266, 10)

In [13]:
exchange_rates.shape

(11215, 3)

In [14]:
products.shape

(2517, 10)

In [15]:
sales.shape

(62884, 9)

In [16]:
stores.shape

(67, 5)

The datasets have varying shapes, with the stores dataset being the smallest in terms of observations, while the sales dataset contains the most observations.

### Exploring the number of missing values in each dataset

In [17]:
(customers.isnull().sum(axis=1) > 0).sum()

10

In [18]:
(exchange_rates.isnull().sum(axis=1) > 0).sum()

0

In [19]:
(products.isnull().sum(axis=1) > 0).sum()

0

In [20]:
(sales.isnull().sum(axis=1) > 0).sum()

49719

In [21]:
(stores.isnull().sum(axis=1) > 0).sum()

1

The number of rows with missing values is insignificant in most datasets and can be safely dropped. However, in the sales dataset, out of 63,000 rows, almost 50,000 contain missing values, which makes dropping rows impractical. A better approach would be to identify which variables (columns) in the sales dataset contain the most missing values and decide how to handle them, such as by imputing missing values or analyzing why they are missing.

### Dealing with missing values

In [22]:
customers.dropna(inplace=True)

In [23]:
stores.dropna(inplace=True)

In [24]:
missing_values = sales.isnull().sum()

In [25]:
missing_values

Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

The sales dataset contains missing values exclusively in the Delivery Date column, where the dates weren't recorded properly. A potential solution to fill these missing values is to calculate the average delivery time in days and use this value to estimate the missing Delivery Dates by adding the calculated number of days to the corresponding Order Date. This approach will allow for reasonable estimations of the missing Delivery Dates, enabling us to fill in the missing data with a method grounded in the dataset's historical patterns.

In [139]:
average_delivery_time = (sales[-sales['Delivery Date'].isnull()]['Delivery Date'] - sales[-sales['Delivery Date'].isnull()]['Order Date']).mean()

In [140]:
sales.loc[sales['Delivery Date'].isnull(), 'Delivery Date'] = sales.loc[sales['Delivery Date'].isnull(), 'Order Date'] + average_delivery_time

## Setting up SQLite database

Setting up the SQLite database and loading the required data for efficient access.

In [149]:
engine = create_engine("sqlite:///database/my_database.db")
metadata = MetaData(bind=engine)

In [148]:
# Upload the DataFrames to the SQLite database
customers.to_sql('customers', engine, if_exists='replace', index=False)
exchange_rates.to_sql('exchange_rates', engine, if_exists='replace', index=False)
products.to_sql('products', engine, if_exists='replace', index=False)
sales.to_sql('sales', engine, if_exists='replace', index=False)
stores.to_sql('stores', engine, if_exists='replace', index=False)

67

## Descriptive Statistics

This section offers a comprehensive overview of the dataset, including key descriptive statistics for the variables.

In [144]:
sales.describe()

,Order Number,Line Item,CustomerKey,StoreKey,ProductKey,Quantity
count,6.288400e+04,62884.000000,6.288400e+04,62884.000000,62884.000000,62884.000000
mean,1.430905e+06,2.164207,1.180797e+06,31.802144,1125.859344,3.144790
std,4.532963e+05,1.365170,5.859634e+05,22.978188,709.244010,2.256371
min,3.660000e+05,1.000000,3.010000e+02,0.000000,1.000000,1.000000
25%,1.121017e+06,1.000000,6.808580e+05,8.000000,437.000000,1.000000
50%,1.498016e+06,2.000000,1.261200e+06,37.000000,1358.000000,2.000000
75%,1.788010e+06,3.000000,1.686496e+06,53.000000,1650.000000,4.000000
max,2.243032e+06,7.000000,2.099937e+06,66.000000,2517.000000,10.000000